Repository openscope/openscope, pull requests merged in 2018-02, with the labels that each got.

#266 feature/265
  CHANGELOG.md
  assets/aircraft/js41.json
  assets/airlines/bee.json
  assets/airlines/exs.json
  assets/airlines/eze.json
  assets/airlines/klm.json
  assets/airlines/ryr.json
  assets/airlines/sht.json
  assets/airlines/stk.json
  assets/airlines/tom.json
  assets/airports/airportLoadList.js
  assets/airports/egnm.json
  assets/airports/terrain/egnm.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/egnm.md
Labels: airport work, enhancement

#865 bugfix/864
  CHANGELOG.md
  src/assets/scripts/client/canvas/CanvasController.js
Labels: BUGFIX

#841 documentation/840
  CHANGELOG.md
  documentation/airport-file-standards.md
Labels: documentation

#817 feature/816
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kmci.json
  assets/airports/terrain/kmci.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/kmci.md
Labels: airport work, feature

#850 refactor/655
  CHANGELOG.md
  assets/airports/airportLoadList.js
Labels: refactor

#875 refactor/529
  CHANGELOG.md
  src/assets/scripts/client/AppController.js
  src/assets/scripts/client/aircraft/AircraftCommander.js
  src/assets/scripts/client/aircraft/AircraftController.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/Fms.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/LegModel.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/RouteModel.js
  src/assets/scripts/client/aircraft/Pilot/Pilot.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/navigationLibrary/AirwayModel.js
  src/assets/scripts/client/navigationLibrary/NavigationLibrary.js
  src/assets/scripts/client/scope/ScopeModel.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternCollection.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternModel.js
  src/assets/scripts/client/trafficGenerator/buildPreSpawnAircraft.js
  test/aircraft/AircraftController.spec.js
  test/aircraft/AircraftModel.spec.js
  test/aircraft/FlightManagementSystem/Fms.spec.js
  test/aircraft/FlightManagementSystem/LegModel.spec.js
  test/aircraft/FlightManagementSystem/RouteModel.spec.js
  test/aircraft/FlightManagementSystem/WaypointModel.spec.js
  test/aircraft/Pilot/Pilot.spec.js
  test/aircraft/Pilot/applyArrivalProcedure.spec.js
  test/aircraft/Pilot/applyDepartureProcedure.spec.js
  test/aircraft/Pilot/applyNewRoute.spec.js
  test/aircraft/Pilot/applyPartialRouteAmendment.spec.js
  test/aircraft/Pilot/cancelApproachClearance.spec.js
  test/aircraft/Pilot/clearedAsFiled.spec.js
  test/aircraft/Pilot/climbViaSid.spec.js
  test/aircraft/Pilot/conductInstrumentApproach.spec.js
  test/aircraft/Pilot/descendViaStar.spec.js
  test/aircraft/Pilot/goAround.spec.js
  test/aircraft/Pilot/initiateHoldingPattern.spec.js
  test/aircraft/Pilot/maintainAltitude.spec.js
  test/aircraft/Pilot/maintainHeading.spec.js
  test/aircraft/Pilot/maintainPresentHeading.spec.js
  test/aircraft/Pilot/maintainSpeed.spec.js
  test/aircraft/Pilot/proceedDirect.spec.js
  test/aircraft/Pilot/sayTargetHeading.spec.js
  test/aircraft/Pilot/taxiToRunway.spec.js
  test/airport/AirportController.spec.js
  test/fixtures/airportFixtures.js
  test/fixtures/navigationLibraryFixtures.js
  test/navigationLibrary/AirwayModel.spec.js
  test/navigationLibrary/Fix/FixModel.spec.js
  test/navigationLibrary/NavigationLibrary.spec.js
  test/navigationLibrary/Procedure/ProcedureModel.spec.js
  test/trafficGenerator/SpawnPatternCollection.spec.js
  test/trafficGenerator/SpawnPatternModel.spec.js
  test/trafficGenerator/SpawnScheduler.spec.js
  test/trafficGenerator/buildPreSpawnAircraft.spec.js
  test/trafficGenerator/spawnPatternModelJsonValidator.spec.js
Labels: refactor

#882 refactor/881
  CHANGELOG.md
  assets/airports/airportLoadList.js
  package.json
Labels: refactor

#880 bugfix/879
  CHANGELOG.md
  src/assets/scripts/client/aircraft/ModeControl/ModeController.js
  test/aircraft/ModeController/ModeController.spec.js
Labels: BUGFIX

#820 feature/819
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/krdu.json
  assets/airports/terrain/krdu.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/krdu.md
Labels: airport work, feature

#861 refactor/854
  CHANGELOG.md
  assets/aircraft/a20n.json
  assets/aircraft/d228.json
  assets/airlines/afr.json
  assets/airlines/aua.json
  assets/airlines/aur.json
  assets/airlines/bee.json
  assets/airlines/bel.json
  assets/airlines/chh.json
  assets/airlines/dlh.json
  assets/airlines/ein.json
  assets/airlines/etd.json
  assets/airlines/exs.json
  assets/airlines/ezy.json
  assets/airlines/fcb.json
  assets/airlines/fin.json
  assets/airlines/ice.json
  assets/airlines/klm.json
  assets/airlines/log.json
  assets/airlines/nax.json
  assets/airlines/oma.json
  assets/airlines/pia.json
  assets/airlines/qtr.json
  assets/airlines/ryr.json
  assets/airlines/sas.json
  assets/airlines/sia.json
  assets/airlines/swr.json
  assets/airlines/tap.json
  assets/airlines/tcx.json
  assets/airlines/tom.json
  assets/airlines/uae.json
  assets/airlines/ual.json
  assets/airlines/vir.json
  assets/airports/airportLoadList.js
  assets/airports/egcc.json
  assets/airports/terrain/egcc.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/egcc.md
Labels: airport work, refactor

#786 feature/785
  CHANGELOG.md
  assets/airlines/fdy.json
  assets/airports/airportLoadList.js
  assets/airports/kpit.json
  assets/airports/terrain/kpit.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/kpit.md
Labels: airport work, feature

#843 refactor/842
  CHANGELOG.md
  assets/airports/kbos.json
  documentation/airport-guides/kbos.md
Labels: airport work, refactor

#845 refactor/844
  CHANGELOG.md
  assets/airports/kstl.json
  documentation/airport-guides/kstl.md
Labels: airport work, refactor

#878 refactor/877
  assets/airports/airportLoadList.js
  assets/airports/cyow.json
Labels: airport work, refactor

#852 refactor/851
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kpdx.json
  documentation/airport-guides/kpdx.md
Labels: airport work, refactor

#869 enhancement/837
  CHANGELOG.md
  package-lock.json
  src/assets/scripts/client/aircraft/AircraftController.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/aircraft/StripView/StripViewController.js
  src/assets/scripts/client/aircraft/StripView/StripViewModel.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/math/vector.js
  src/assets/style/landmark/_stripView.less
Labels: enhancement

#890 refactor/885
  CHANGELOG.md
  package-lock.json
  src/assets/scripts/client/LoadingView.js
  src/assets/scripts/client/constants/selectors.js
  src/assets/scripts/client/contentQueue/ContentQueue.js
  src/assets/style/main.less
  src/assets/style/module/loadingIndicator/_loadingIndicator.less
  src/index.hbs
  src/templates/_loadingIndicator.hbs
Labels: refactor

#896 bugfix/895
  CHANGELOG.md
  documentation/spawnPatternReadme.md
  src/assets/scripts/client/trafficGenerator/SpawnPatternModel.js
  test/trafficGenerator/SpawnPatternModel.spec.js
  test/trafficGenerator/_mocks/spawnPatternMocks.js
Labels: BUGFIX

#797 refactor/796
  CHANGELOG.md
  assets/aircraft/b38m.json
  assets/airlines/bcy.json
  assets/airlines/fin.json
  assets/airlines/ibk.json
  assets/airlines/ice.json
  assets/airlines/nax.json
  assets/airlines/sas.json
  assets/airports/airportLoadList.js
  assets/airports/engm.json
  assets/airports/terrain/engm.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/engm.md
Labels: airport work, refactor

#805 documentation/723
  CHANGELOG.md
  CONTRIBUTING.md
Labels: documentation
