Repository openscope/openscope, pull requests merged in 2018-04, with the labels that each got.

#788 feature/24
  CHANGELOG.md
  documentation/aircraft-commands.md
  src/assets/scripts/client/InputController.js
  src/assets/scripts/client/aircraft/AircraftCommander.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/Fms.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/RouteModel.js
  src/assets/scripts/client/aircraft/Pilot/Pilot.js
  src/assets/scripts/client/airport/runway/RunwayModel.js
  src/assets/scripts/client/parsers/aircraftCommandParser/AircraftCommandModel.js
  src/assets/scripts/client/parsers/aircraftCommandParser/AircraftCommandParser.js
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandDefinitions.js
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandMap.js
  test/aircraft/FlightManagementSystem/Fms.spec.js
  test/aircraft/FlightManagementSystem/RouteModel.spec.js
  test/aircraft/Pilot/clearedAsFiled.spec.js
  test/aircraft/Pilot/initiateHoldingPattern.spec.js
  test/airport/_mocks/airportJsonMock.js
  test/parsers/aircraftCommandParser/AircraftCommandParser.spec.js
Labels: feature

#889 refactor/246
  CHANGELOG.md
  assets/aircraft/a21n.json
  assets/airlines/abq.json
  assets/airlines/aic.json
  assets/airlines/alk.json
  assets/airlines/axb.json
  assets/airlines/aza.json
  assets/airlines/baw.json
  assets/airlines/bbc.json
  assets/airlines/etd.json
  assets/airlines/gfa.json
  assets/airlines/jai.json
  assets/airlines/kac.json
  assets/airlines/kne.json
  assets/airlines/mea.json
  assets/airlines/msr.json
  assets/airlines/oma.json
  assets/airlines/pgt.json
  assets/airlines/pia.json
  assets/airlines/rja.json
  assets/airlines/sai.json
  assets/airlines/sey.json
  assets/airlines/sva.json
  assets/airlines/thy.json
  assets/airlines/tua.json
  assets/airlines/voz.json
  assets/airports/airportLoadList.js
  assets/airports/omaa.json
  assets/airports/terrain/omaa.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/omaa.md
  package-lock.json
Labels: airport work, refactor

#909 refactor/908
  CHANGELOG.md
  assets/airports/ksea.json
Labels: airport work, refactor

#929 refactor/928
  CHANGELOG.md
  assets/airports/kpdx.json
Labels: airport work, refactor

#924 refactor/923
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kabq.json
  documentation/airport-guides/kabq.md
Labels: airport work, refactor

#932 refactor/931
  CHANGELOG.md
  assets/airports/kdca.json
Labels: airport work, refactor

#887 refactor/241
  CHANGELOG.md
  assets/airlines/bms.json
  assets/airlines/ely.json
  assets/airlines/ezy.json
  assets/airlines/mnb.json
  assets/airlines/vlg.json
  assets/airlines/wzz.json
  assets/airports/airportLoadList.js
  assets/airports/eggw.json
  assets/airports/terrain/eggw.geojson
  documentation/airport-guides/eggw.md
Labels: airport work, refactor

#901 bugfix/899
  CHANGELOG.md
  documentation/development-processes-checklists.md
  src/assets/scripts/client/aircraft/FlightManagementSystem/RouteModel.js
  test/aircraft/FlightManagementSystem/RouteModel.spec.js
  test/airport/_mocks/airportJsonMock.js
  test/navigationLibrary/NavigationLibrary.spec.js
Labels: BUGFIX

#941 refactor/927
  CHANGELOG.md
  assets/aircraft/crj2.json
  assets/aircraft/crj7.json
  assets/aircraft/crj9.json
Labels: airport work, refactor

#922 devops/677
  CHANGELOG.md
  test/assets/airports.spec.js
Labels: devops

#946 bugfix/940
  CHANGELOG.md
  assets/airlines/baw.json
Labels: BUGFIX

#948 bugfix/947
  CHANGELOG.md
  documentation/aircraft-commands.md
  src/assets/scripts/client/aircraft/AircraftCommander.js
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandDefinitions.js
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandMap.js
Labels: BUGFIX
