Repository openscope/openscope, pull requests merged in 2018-03, with the labels that each got.

#902 feature/818
  CHANGELOG.md
  src/assets/scripts/client/InputController.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/canvas/CanvasStageModel.js
  src/assets/scripts/client/constants/themes/default/color.js
  src/assets/scripts/client/constants/themes/default/modules/radarTarget.js
Labels: feature

#839 feature/838
  CHANGELOG.md
  assets/aircraft/bcs1.json
  assets/aircraft/bcs3.json
  assets/airlines/aca.json
  assets/airlines/afr.json
  assets/airlines/baw.json
  assets/airlines/bti.json
  assets/airlines/cfe.json
  assets/airlines/d.json
  assets/airlines/dlh.json
  assets/airlines/edw.json
  assets/airlines/ewg.json
  assets/airlines/fin.json
  assets/airlines/gsw.json
  assets/airlines/hb.json
  assets/airlines/ice.json
  assets/airlines/oma.json
  assets/airlines/swr.json
  assets/airlines/sxs.json
  assets/airlines/tha.json
  assets/airlines/thy.json
  assets/airports/airportLoadList.js
  assets/airports/lszh.json
  assets/airports/terrain/lszh.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/lszh.md
Labels: airport work, feature

#911 refactor/910
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kbos.json
Labels: airport work, refactor

#926 bugfix/918
  CHANGELOG.md
  src/assets/scripts/client/index.js
Labels: BUGFIX
