Repository openscope/openscope, pull requests merged in 2019-08, with the labels that each got.

#1415 devops/1410 (B) - Restore functionality of local server from `npm run start`
  CHANGELOG.md
  package-lock.json
  tools/tasks/scriptTasks.js
Labels: devops

#1388 enhancement/1387 - Update EDDF to AIRAC 1906
  CHANGELOG.md
  assets/airlines/fin.json
  assets/airlines/hvn.json
  assets/airlines/rot.json
  assets/airports/eddf.json
  documentation/airport-guides/eddf.md
Labels: airport work, enhancement

#1419 bugfix/1418
  CHANGELOG.md
  assets/airports/eddf.json
Labels: BUGFIX, airport work

#1413 bugfix/1395 - Fix aircraft's wind correction angle math
  CHANGELOG.md
  src/assets/scripts/client/aircraft/AircraftCommander.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/aircraft/ModeControl/ModeController.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/airport/runway/RunwayModel.js
  src/assets/scripts/client/constants/environmentConstants.js
  src/assets/scripts/client/game/ScoreController.js
  src/assets/scripts/client/math/flightMath.js
  test/aircraft/AircraftModel.spec.js
  test/airport/runway/RunwayModel.spec.js
Labels: BUGFIX
