Repository openscope/openscope, pull requests merged in 2019-06, with the labels that each got.

#1314 feature/1313 - Add scope command for changing PTL length
  CHANGELOG.md
  src/assets/scripts/client/AppController.js
  src/assets/scripts/client/InputController.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/constants/eventNames.js
  src/assets/scripts/client/constants/gameOptionConstants.js
  src/assets/scripts/client/constants/scopeConstants.js
  src/assets/scripts/client/constants/themes/classic/modules/radarTarget.js
  src/assets/scripts/client/constants/themes/default/modules/radarTarget.js
  src/assets/scripts/client/game/GameController.js
  src/assets/scripts/client/parsers/scopeCommandParser/ScopeCommandModel.js
  src/assets/scripts/client/scope/RadarTargetModel.js
  src/assets/scripts/client/scope/ScopeModel.js
  test/game/GameOptions.spec.js
  test/scope/ScopeModel.spec.js
Labels: feature

#1374 documentation/1319
  CHANGELOG.md
  documentation/aircraft-commands.md
  documentation/aircraft-format.md
  documentation/aircraft-separation.md
  documentation/airline-format.md
  documentation/airport-file-standards.md
  documentation/airport-format.md
  documentation/airport-terrain-generation.md
  documentation/commands.md
  documentation/development-processes-checklists.md
  documentation/environments.md
  documentation/git-flow-process.md
  documentation/scope-commands.md
  documentation/scoring.md
  documentation/spawnPatternMethodReadme.md
  documentation/spawnPatternReadme.md
  src/assets/scripts/client/scope/ScopeModel.js
Labels: documentation

#1261 refactor/1260 - Update all airports to AIRAC 1901
  CHANGELOG.md
  assets/airports/kabq.json
  assets/airports/kcvg.json
  assets/airports/kdca.json
  assets/airports/klas.json
  assets/airports/kmia.json
  assets/airports/kpit.json
  assets/airports/krdu.json
  assets/airports/ksea.json
Labels: airport work, refactor
