Repository openscope/openscope, pull requests merged in 2019-05, with the labels that each got.

#1372 devops/1230
  CHANGELOG.md
  README.md
  app.json
  package.json
  tools/README.md
Labels: devops

#1373 feature/1344
  CHANGELOG.md
  documentation/event-tracking.md
  src/assets/scripts/client/constants/trackableEvents.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternModel.js
  src/assets/scripts/client/ui/TrafficRateController.js
  src/assets/scripts/client/ui/UiController.js
  test/trafficGenerator/SpawnPatternModel.spec.js
Labels: feature

#1073 refactor/1072 - Overhaul of KELP
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kelp.json
Labels: airport work, refactor

#1379 refactor/1378 - KBOS 27 Arrivals giving crosswind penalties
  CHANGELOG.md
  assets/airports/kbos.json
Labels: airport work, refactor

#1380 documentation/1375 - Correct spawnpattern documentation for overflights
  CHANGELOG.md
  documentation/spawnPatternReadme.md
Labels: documentation

#1383 bugfix/1351 - Fix turn right 5 degrees not useable
  CHANGELOG.md
  src/assets/scripts/client/parsers/aircraftCommandParser/argumentParsers.js
  test/aircraft/Pilot/Pilot.spec.js
Labels: BUGFIX

#1384 documentation/1338 - Add FPH to aircraft commands documentation
  CHANGELOG.md
  documentation/aircraft-commands.md
Labels: documentation

#1371 devops/1370 - Upgrade dependencies and address npm audit issues
  .eslintrc
  .travis.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/assets/scripts/client/aircraft/AircraftCommander.js
  src/assets/scripts/client/aircraft/AircraftConflict.js
  src/assets/scripts/client/aircraft/AircraftController.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/Fms.js
  src/assets/scripts/client/aircraft/FlightManagementSystem/WaypointModel.js
  src/assets/scripts/client/aircraft/Pilot/Pilot.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/airport/runway/RunwayModel.js
  src/assets/scripts/client/airport/runway/RunwayRelationshipModel.js
  src/assets/scripts/client/base/DynamicPositionModel.js
  src/assets/scripts/client/base/staticPositionToDynamicPositionHelper.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/constants/aircraftConstants.js
  src/assets/scripts/client/lib/EventBus.js
  src/assets/scripts/client/math/vector.js
  src/assets/scripts/client/navigationLibrary/NavigationLibrary.js
  src/assets/scripts/client/parsers/aircraftCommandParser/argumentValidators.js
  src/assets/scripts/client/scope/RadarTargetCollection.js
  src/assets/scripts/client/scope/ScopeModel.js
  src/assets/scripts/client/speech.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternModel.js
  src/assets/scripts/client/trafficGenerator/buildPreSpawnAircraft.js
  src/assets/scripts/client/ui/SettingsController.js
  src/assets/scripts/client/ui/TutorialView.js
  src/assets/scripts/client/utilities/unitConverters.js
  test/aircraft/AircraftModel.spec.js
  test/aircraft/FlightManagementSystem/Fms.spec.js
  test/aircraft/FlightManagementSystem/LegModel.spec.js
  test/aircraft/FlightManagementSystem/WaypointModel.spec.js
  test/aircraft/Pilot/Pilot.spec.js
  test/airline/airlineHelpers.spec.js
  test/airport/runway/RunwayRelationshipModel.spec.js
  test/engine/TimeKeeper.spec.js
  test/game/ScoreController.spec.js
  test/parsers/aircraftCommandParser/AircraftCommandParser.spec.js
  test/scope/RadarTargetModel.spec.js
  test/scope/ScopeModel.spec.js
  test/trafficGenerator/SpawnPatternCollection.spec.js
  test/trafficGenerator/SpawnScheduler.spec.js
  test/trafficGenerator/buildPreSpawnAircraft.spec.js
  test/utilities/radioUtilities/radioTrend.spec.js
Labels: devops
