Repository openscope/openscope, pull requests merged in 2020-09, with the labels that each got.

#1640 documentation/1615 - update kstl airport guide vatsim sop link
  CHANGELOG.md
  documentation/airport-guides/kstl.md
Labels: airport work, documentation

#1641 refactor/1583 - Update EDDF AIRAC to 2009
  CHANGELOG.md
  assets/airports/eddf.json
Labels: airport work, refactor

#1649 refactor/1645 - Change expedite command from "x" to "ex"
  CHANGELOG.md
  documentation/aircraft-commands.md
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandMap.js
  src/assets/scripts/client/parsers/aircraftCommandParser/aircraftCommandParserMessages.js
  src/assets/scripts/client/parsers/aircraftCommandParser/argumentValidators.js
  test/parsers/aircraftCommandParser/argumentParser.spec.js
  test/parsers/aircraftCommandParser/argumentValidator.spec.js
Labels: refactor
