Repository openscope/openscope, pull requests merged in 2020-05, with the labels that each got.

#1564 feature/1563 - Add Cork Airport (EICK)
  CHANGELOG.md
  assets/airlines/bbd.json
  assets/airlines/stk.json
  assets/airports/airportLoadList.js
  assets/airports/eick.json
  assets/airports/terrain/eick.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/eick.md
Labels: airport work, feature

#1546 Updated Tutorial
  CHANGELOG.md
  assets/airports/ksea.json
  src/assets/scripts/client/ui/TutorialView.js
Labels: enhancement

#1575 Add "Commands" menu button
  CHANGELOG.md
  assets/images/Slack_Mark_Monochrome_White.svg
  assets/images/Slack_Mark_Monochrome_White_36px.png
  assets/images/icons/command-reference.png
  assets/images/icons/command-reference.svg
  src/templates/_footer.hbs
Labels: feature

#1574 hotfix/1573 - Add missing waypoints to KJFK
  CHANGELOG.md
  assets/airlines/vir.json
  assets/airports/kjfk.json
  package-lock.json
  package.json
Labels: HOTFIX, airport work
