Repository openscope/openscope, pull requests merged in 2020-06, with the labels that each got.

#1594 Update klax.md
  CHANGELOG.md
  documentation/airport-guides/klax.md
Labels: airport work, refactor

#1601 documentation/1589 - Update KDCA airport guide
  CHANGELOG.md
  documentation/airport-guides/kdca.md
Labels: documentation

#1602 enhancement/1581 - Add Ability to Reset Scratchpad
  CHANGELOG.md
  documentation/scope-commands.md
  src/assets/scripts/client/parsers/scopeCommandParser/ScopeCommandModel.js
  src/assets/scripts/client/scope/RadarTargetModel.js
  src/assets/scripts/client/scope/ScopeModel.js
  test/scope/RadarTargetModel.spec.js
  test/scope/ScopeModel.spec.js
Labels: enhancement

#1607 refactor/1606 - Rename options panel title to settings
  CHANGELOG.md
  src/assets/scripts/client/ui/SettingsController.js
Labels: refactor

#1422 bugfix/39 - Compass rose misaligned
  CHANGELOG.md
  src/assets/scripts/client/InputController.js
  src/assets/scripts/client/aircraft/AircraftController.js
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/constants/eventNames.js
  src/assets/scripts/client/math/core.js
  src/assets/scripts/client/math/vector.js
  test/math/core.spec.js
  test/math/vector.spec.js
Labels: BUGFIX

#1598 enhancement/1236 - Bring Back KIAD
  CHANGELOG.md
  assets/airlines/mtn.json
  assets/airlines/uca.json
  assets/airports/airportLoadList.js
  assets/airports/kiad.json
  assets/airports/terrain/kiad.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/kiad.md
Labels: airport work, enhancement
