Repository openscope/openscope, pull requests merged in 2020-10, with the labels that each got.

#1307 enhancement/391 - adds support for multiple airspace sections
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/cyhz.json
  assets/airports/cyow.json
  assets/airports/eddf.json
  assets/airports/eddl.json
  assets/airports/eggw.json
  assets/airports/egnm.json
  assets/airports/eick.json
  assets/airports/einn.json
  assets/airports/klax.json
  assets/airports/loww.json
  assets/airports/lrop.json
  assets/airports/omaa.json
  assets/airports/omdb.json
  assets/airports/terrain/eddf.geojson
  assets/airports/tncm.json
  assets/images/icons/airspace.png
  assets/images/icons/airspace.svg
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/airport/AirspaceModel.js
  src/assets/scripts/client/base/StaticPositionModel.js
  src/assets/scripts/client/canvas/CanvasController.js
  src/assets/scripts/client/constants/eventNames.js
  src/assets/scripts/client/constants/selectors.js
  src/assets/scripts/client/math/flightMath.js
  src/assets/scripts/client/math/vector.js
  src/assets/scripts/client/trafficGenerator/buildPreSpawnAircraft.js
  src/assets/scripts/client/ui/UiController.js
  src/templates/_footer.hbs
  test/aircraft/AircraftModel.spec.js
  test/airport/AirportModel.spec.js
  test/airport/AirspaceModel.spec.js
  test/airport/_mocks/airportJsonMock.js
  test/airport/_mocks/airspaceModelMocks.js
  test/math/vector.spec.js
Labels: WIP, enhancement

#1653 refactor/1652 - Refactor Irish Airports
  CHANGELOG.md
  assets/airports/eick.json
  assets/airports/eidw.json
  assets/airports/einn.json
  documentation/airport-guides/eick.md
  documentation/airport-guides/eidw.md
Labels: airport work, refactor

#1659 enhancement/1658 - LIPZ edit airspace
  CHANGELOG.md
  assets/airports/lipz.json
Labels: airport work, enhancement

#1634 enhancement/1633 - Add fixes to PDX
  CHANGELOG.md
  assets/airports/kpdx.json
Labels: airport work, enhancement

#1661 refactor/1651 - Fix airports with broken airspace
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/cyhz.json
  assets/airports/cyow.json
  assets/airports/eggw.json
  assets/airports/loww.json
  assets/airports/lrop.json
Labels: airport work, refactor

#1655 feature/1654 - Add KGSO
  CHANGELOG.md
  assets/airports/airportLoadList.js
  assets/airports/kgso.json
  assets/airports/terrain/kgso.geojson
  documentation/airport-guides/kgso.md
Labels: airport work, feature
