Repository openscope/openscope, pull requests merged in 2020-02, with the labels that each got.

#1460 refactor/242 - Overhaul KJFK
  CHANGELOG.md
  assets/airlines/afl.json
  assets/airlines/ahy.json
  assets/airlines/amx.json
  assets/airlines/ana.json
  assets/airlines/ara.json
  assets/airlines/asl.json
  assets/airlines/ava.json
  assets/airlines/bos.json
  assets/airlines/ces.json
  assets/airlines/cpa.json
  assets/airlines/csn.json
  assets/airlines/cxa.json
  assets/airlines/dya.json
  assets/airlines/ely.json
  assets/airlines/fjm.json
  assets/airlines/hal.json
  assets/airlines/iss.json
  assets/airlines/jal.json
  assets/airlines/kal.json
  assets/airlines/msr.json
  assets/airlines/pal.json
  assets/airlines/qfa.json
  assets/airlines/qtr.json
  assets/airlines/ram.json
  assets/airlines/rja.json
  assets/airlines/saa.json
  assets/airlines/sia.json
  assets/airlines/sli.json
  assets/airlines/sva.json
  assets/airlines/swr.json
  assets/airlines/tai.json
  assets/airlines/tcx.json
  assets/airlines/thy.json
  assets/airlines/uzb.json
  assets/airlines/voi.json
  assets/airlines/wja.json
  assets/airlines/xlf.json
  assets/airports/airportLoadList.js
  assets/airports/kjfk.json
  assets/airports/terrain/kjfk.geojson
  documentation/airport-format.md
  documentation/airport-guides/kjfk.md
  src/assets/scripts/client/aircraft/AircraftController.js
Labels: airport work, refactor

#1530 bugfix/1398 - Improve aircraft slowing behavior on final approach
  CHANGELOG.md
  src/assets/scripts/client/aircraft/AircraftModel.js
  src/assets/scripts/client/aircraft/Pilot/Pilot.js
  src/assets/scripts/client/constants/aircraftConstants.js
  src/assets/scripts/client/constants/airportConstants.js
  test/aircraft/Pilot/Pilot.spec.js
  test/airport/runway/RunwayModel.spec.js
Labels: BUGFIX

#1532 feature/1526 - Introduce SUMU
  CHANGELOG.md
  assets/airlines/aal.json
  assets/airlines/aea.json
  assets/airlines/auz.json
  assets/airlines/ava.json
  assets/airlines/azu.json
  assets/airlines/cmp.json
  assets/airlines/lco.json
  assets/airports/airportLoadList.js
  assets/airports/sumu.json
  assets/airports/terrain/sumu.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/sumu.md
Labels: airport work, feature

#1529 refactor/1528 - Fix KDCA having too many heavies
  CHANGELOG.md
  assets/airlines/aal.json
  assets/airlines/ual.json
  assets/airports/kdca.json
Labels: airport work, refactor

#1527 refactor/1525 - Bring back SAME
  CHANGELOG.md
  assets/airlines/fbz.json
  assets/airlines/jat.json
  assets/airlines/tpu.json
  assets/airports/airportLoadList.js
  assets/airports/saez.json
  assets/airports/same.json
  assets/airports/sawh.json
  assets/airports/terrain/same.geojson
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/same.md
Labels: airport work, refactor

#1519 refactor/1517 - Bring back TNCM
  CHANGELOG.md
  assets/aircraft/be36.json
  assets/airlines/aal.json
  assets/airlines/bwa.json
  assets/airlines/cey.json
  assets/airlines/dal.json
  assets/airlines/edr.json
  assets/airlines/guy.json
  assets/airlines/iwy.json
  assets/airlines/jbu.json
  assets/airlines/klm.json
  assets/airlines/lia.json
  assets/airlines/rsi.json
  assets/airlines/swg.json
  assets/airlines/wia.json
  assets/airlines/wja.json
  assets/airports/airportLoadList.js
  assets/airports/terrain/tncm.geojson
  assets/airports/tncm.json
  documentation/airport-guides/airport-guide-directory.md
  documentation/airport-guides/saez.md
  documentation/airport-guides/tncm.md
Labels: airport work, refactor
