Repository openscope/openscope, pull requests merged in 2021-12, with the labels that each got.

#1830 feature/1829 - Add Hiroshima Airport (RJOA)
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/rjoa.json
  assets/airports/terrain/rjoa.geojson
  documentation/airport-guides/rjoa.md
Labels: airport work, feature

#1853 Feature/1495 Add KEWR
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kewr.json
  assets/airports/terrain/kewr.geojson
  documentation/airport-guides/kewr.md
Labels: airport work, feature

#1869 enhancement/1782 - Update UAE to match current fleet
  CHANGELOG.md
  assets/airlines/uae.json
Labels: airport work, refactor

#1872 feature/1870 — Add Nashville Intl (BNA)
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kbna.json
  assets/airports/terrain/kbna.geojson
  documentation/airport-guides/kbna.md
  package-lock.json
Labels: airport work, feature

#1775 enhancement/1772 - Add airlines needed for ESSA
  CHANGELOG.md
  assets/aircraft/atp.json
  assets/airlines/apf.json
  assets/airlines/est.json
  assets/airlines/lpa.json
  assets/airlines/nvr.json
  assets/airlines/swn.json
Labels: enhancement, airport/airline/aircraft

#1879 enhancement/1878 - Update ASA/SWA airline fleets
  CHANGELOG.md
  assets/airlines/asa.json
  assets/airlines/swa.json
Labels: enhancement, airport/airline/aircraft

#1883 enhancement/1882 - Add Embraer 175
  CHANGELOG.md
  assets/aircraft/e75l.json
  assets/aircraft/e75s.json
  assets/airlines/qxe.json
Labels: enhancement, airport/airline/aircraft
