Repository openscope/openscope, pull requests merged in 2022-03, with the labels that each got.

#1812 feature/1675 - Add MCO
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kmco.json
  assets/airports/terrain/kmco.geojson
  documentation/airport-guides/kmco.md
Labels: airport/airline/aircraft, WIP, feature

#1904 enhancement/1903 correct some misplaced quotes in the kewr.json file
  CHANGELOG.md
  assets/airports/kewr.json
Labels: airport/airline/aircraft, refactor

#1825 feature/1815 - Add KOKC
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kokc.json
  assets/airports/terrain/kokc.geojson
  documentation/airport-guides/kokc.md
Labels: airport/airline/aircraft, feature

#1899 Feature/1876 - Add KDAB Daytona Beach Int'l
  CHANGELOG.md
  assets/aircraft/da42.json
  assets/airlines/eru.json
  assets/airports/airportLoadList.json
  assets/airports/kdab.json
  assets/airports/terrain/kdab.geojson
  documentation/airport-guides/kdab.md
Labels: airport/airline/aircraft

#1910 feature/1909 - Add OMA
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/koma.json
  assets/airports/terrain/koma.geojson
  documentation/airport-guides/koma.md
Labels: airport/airline/aircraft, feature

#1913 Feature/1816 - Add Richmond Int'l (RIC)
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kric.json
  assets/airports/terrain/kric.geojson
  documentation/airport-guides/kric.md
Labels: airport/airline/aircraft, feature

#1915 Feature/1914 - Add KMEM
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kmem.json
  assets/airports/terrain/kmem.geojson
  documentation/airport-guides/kmem.md
Labels: airport/airline/aircraft, feature

#1927 devops/1926 - Update dependencies
  package-lock.json
Labels: devops

#1585 feature/1584 - Add PHNL - Daniel K Inouye International Airport
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/phnl.json
  assets/airports/terrain/phnl.geojson
  documentation/airport-guides/phnl.md
Labels: airport/airline/aircraft, feature

#1668 feature/1666 - Add KCLT
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kclt.json
  assets/airports/terrain/kclt.geojson
  documentation/airport-guides/kclt.md
Labels: airport/airline/aircraft, feature
