Repository openscope/openscope, pull requests merged in 2022-07, with the labels that each got.

#1939 feature/1938 - create STARS-like theme
  CHANGELOG.md
  src/assets/scripts/client/constants/gameOptionConstants.js
  src/assets/scripts/client/constants/themes.js
  src/assets/scripts/client/constants/themes/celestial/color.js
  src/assets/scripts/client/constants/themes/celestial/modules/dataBlock.js
  src/assets/scripts/client/constants/themes/celestial/modules/radarTarget.js
  src/assets/scripts/client/constants/themes/celestial/modules/scope.js
  src/assets/scripts/client/constants/themes/celestial/modules/terrain.js
  src/assets/scripts/client/constants/themes/celestial/modules/windVane.js
  src/assets/scripts/client/constants/themes/celestial/theme.js
  src/assets/style/module/canvas/_canvas.less
Labels: feature

#1921 feature/1920 — Add Salt Lake City Int'l (SLC)
  CHANGELOG.md
  assets/airports/airportLoadList.json
  assets/airports/kslc.json
  assets/airports/terrain/kslc.geojson
  documentation/airport-guides/kslc.md
Labels: airport/airline/aircraft, feature

#1957 enhancement/1956 - Departure altitudes
  CHANGELOG.md
  documentation/spawnPatternReadme.md
  package-lock.json
  src/assets/scripts/client/aircraft/FlightManagementSystem/Fms.js
  test/aircraft/FlightManagementSystem/Fms.spec.js
Labels: enhancement

#1945 enhancement/1944 - airspace update for JFK
  CHANGELOG.md
  assets/airports/kjfk.json
Labels: enhancement, airport/airline/aircraft

#1953 refactor/1952 - Update MCO to AIRAC 2205
  CHANGELOG.md
  assets/airports/kmco.json
Labels: airport/airline/aircraft, refactor

#1738 feature/21 - Command search and autocomplete with argument validation
  CHANGELOG.md
  assets/autocomplete/commandAutocompleteConfig.json
  assets/autocomplete/commandAutocompleteConfig.schema.json
  documentation/commands.md
  package-lock.json
  package.json
  src/assets/scripts/client/InputController.js
  src/assets/scripts/client/constants/autocompleteConstants.js
  src/assets/scripts/client/constants/inputConstants.js
  src/assets/scripts/client/constants/selectors.js
  src/assets/scripts/client/ui/autocomplete/AutocompleteArgumentTemplate.js
  src/assets/scripts/client/ui/autocomplete/AutocompleteCommandTemplate.js
  src/assets/scripts/client/ui/autocomplete/AutocompleteController.js
  src/assets/scripts/client/ui/autocomplete/RegexGroup.js
  src/assets/style/helpers/_util.less
  src/assets/style/helpers/_vars.less
  src/assets/style/landmark/_stripView.less
  src/assets/style/main.less
  src/assets/style/module/autocomplete/_autocomplete.less
  src/assets/style/module/command/_command.less
  src/assets/style/module/controls/_controls.less
  src/templates/_footer.hbs
  tools/options.js
  tools/tasks/mediaTasks.js
Labels: feature
