Repository openscope/openscope, pull requests merged in 2022-01, with the labels that each got.

#1896 Enhancement/1345 Add reset buttons to traffic config dialog
  CHANGELOG.md
  src/assets/scripts/client/AppController.js
  src/assets/scripts/client/airport/AirportModel.js
  src/assets/scripts/client/airport/runway/RunwayModel.js
  src/assets/scripts/client/constants/eventNames.js
  src/assets/scripts/client/constants/selectors.js
  src/assets/scripts/client/math/core.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternCollection.js
  src/assets/scripts/client/trafficGenerator/SpawnPatternModel.js
  src/assets/scripts/client/trafficGenerator/SpawnScheduler.js
  src/assets/scripts/client/trafficGenerator/buildPreSpawnAircraft.js
  src/assets/scripts/client/ui/TrafficRateController.js
  src/assets/style/module/dialog/_dialog.less
  test/airport/AirportModel.spec.js
  test/airport/runway/RunwayModel.spec.js
Labels: enhancement

#1901 bugfix/1900 - Raise descent rate of all jets to at least 3000fpm
  CHANGELOG.md
  assets/aircraft/a124.json
  assets/aircraft/a306.json
  assets/aircraft/a30b.json
  assets/aircraft/a310.json
  assets/aircraft/a321.json
  assets/aircraft/a343.json
  assets/aircraft/a345.json
  assets/aircraft/a346.json
  assets/aircraft/a35k.json
  assets/aircraft/a388.json
  assets/aircraft/an72.json
  assets/aircraft/b743.json
  assets/aircraft/b762.json
  assets/aircraft/b788.json
  assets/aircraft/b789.json
  assets/aircraft/b78x.json
  assets/aircraft/be40.json
  assets/aircraft/c510.json
  assets/aircraft/c750.json
  assets/aircraft/crjx.json
  assets/aircraft/dc10.json
  assets/aircraft/dc87.json
  assets/aircraft/e135.json
  assets/aircraft/e145.json
  assets/aircraft/e170.json
  assets/aircraft/e190.json
  assets/aircraft/e290.json
  assets/aircraft/e35l.json
  assets/aircraft/e50p.json
  assets/aircraft/e545.json
  assets/aircraft/e550.json
  assets/aircraft/e55p.json
  assets/aircraft/e75l.json
  assets/aircraft/e75s.json
  assets/aircraft/gl5t.json
  assets/aircraft/glf4.json
  assets/aircraft/glf5.json
  assets/aircraft/h25b.json
  assets/aircraft/hdjt.json
  assets/aircraft/il62.json
  assets/aircraft/il76.json
  assets/aircraft/il96.json
  assets/aircraft/j328.json
  assets/aircraft/l101.json
  assets/aircraft/lj40.json
  assets/aircraft/lj45.json
  assets/aircraft/lj60.json
  assets/aircraft/lj75.json
  assets/aircraft/md81.json
  assets/aircraft/md82.json
  assets/aircraft/md83.json
  assets/aircraft/md88.json
  assets/aircraft/su9.json
  assets/aircraft/su95.json
Labels: BUGFIX, airport/airline/aircraft

#1776 feature/1686 - Add RJAA (Tokyo Narita)
  CHANGELOG.md
  assets/aircraft/dh8b.json
  assets/airlines/abl.json
  assets/airlines/aci.json
  assets/airlines/amu.json
  assets/airlines/csz.json
  assets/airlines/hke.json
  assets/airlines/jst.json
  assets/airlines/mgl.json
  assets/airlines/shu.json
  assets/airlines/twb.json
  assets/airports/airportLoadList.json
  assets/airports/rjaa.json
  assets/airports/terrain/rjaa.geojson
  documentation/airport-guides/rjaa.md
  package-lock.json
Labels: airport/airline/aircraft, feature
